<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018911373199-cm08o63go8natfbld9q0sicvq4god269.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018911373199-cm08o63go8natfbld9q0sicvq4god269</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1018911373199-j3vspevte3jnkh2k37f0hofsk2aictgo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDIIuErGzT-e2ee5fOmkvEsCRTX-NGUzBs</string>
	<key>GCM_SENDER_ID</key>
	<string>1018911373199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authSocial.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>phoneauth-6c46c</string>
	<key>STORAGE_BUCKET</key>
	<string>phoneauth-6c46c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018911373199:ios:15e9ebdeedf51b8b3bfdfa</string>
</dict>
</plist>